html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dataTable { 
  width: 100%;
  border-collapse: collapse;
}

.filterTable {
  width: 100%;
}


.green {
  background-color: rgb(101, 209, 101);
}

.green-highlated {
  background-color:rgb(77, 155, 77);
}

.red {
  background-color: rgb(187, 34, 34);
}

.red-highlated {
  background-color:rgb(150, 29, 29);
}
